<div class="game-table">
  <div class="betception-orb"></div>
  <h2 class="title">Betception Blackjack</h2>

  <app-hand
    label="Dealer"
    [hand]="dealerHand"
    [isDealer]="true"
    [isActive]="activeHand === HandOwnerType.DEALER"
    [revealDealerCards]="
      activeHand === HandOwnerType.DEALER || dealerHand?.status !== HandStatus.ACTIVE
    "
  ></app-hand>

  <app-hand
    label="Spieler"
    [hand]="playerHand"
    [isActive]="activeHand === HandOwnerType.PLAYER"
  ></app-hand>

  <div class="blackjack-banner" *ngIf="showBlackjackBanner">BLACKJACK!</div>
</div>
