<div class="game-table">
  <div class="betception-orb"></div>
  <h2 class="title">Betception Blackjack</h2>

  <app-hand
    [label]="i18n.t('common.dealer')"
    [hand]="dealerHand"
    [isDealer]="true"
    [dealOffset]="280"
    [isActive]="activeHand === HandOwnerType.DEALER"
    [revealDealerCards]="
      activeHand === HandOwnerType.DEALER || (!!dealerHand && dealerHand.status !== HandStatus.ACTIVE)
    "
  ></app-hand>

  <div class="player-hands-row">
    <app-hand
      [label]="i18n.t('common.player')"
      [hand]="playerHand"
      [dealOffset]="0"
      [isActive]="activeHand === HandOwnerType.PLAYER"
    ></app-hand>
    <app-hand
      *ngFor="let sh of splitHands; let i = index"
      [label]="splitHands.length > 1 ? i18n.t('common.playerSplit') + ' ' + (i + 1) : i18n.t('common.playerSplit')"
      [hand]="sh"
      [dealOffset]="(i + 1) * 300"
      [isActive]="sh.status === HandStatus.ACTIVE"
    ></app-hand>
  </div>

  <div class="blackjack-banner" *ngIf="showBlackjackBanner">BLACKJACK!</div>
</div>
